/******animation coeur******/

.animation-coeur {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 30px;


        .fa-regular {
        position: absolute;
        left: 16px;
        opacity: 1;
        transition: all 2s ease;

       



    }
        &:hover .fa-regular{
            opacity: 0;
        }



       .fa {
        position: absolute;
        left: 16px;
        opacity: 0;
        transition: all 2s ease;
        background: -webkit-linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

       

    }

    &:hover .fa{
        opacity: 1;
    }


}


/*********ANIMATION CARDS MENUS**************/

.menu{

// .delay1{
//     animation: left-to-right 2s  ease-in alternate;
//     animation-delay: 500ms;   
// }

// .delay2{

// }

// .delay3{

    
// }



}


@keyframes left-to-right{

0%{
    transform: translateY(100px);

}



100%{

    transform: translateY(0px);

}



}