 .image-introduction-restaurant {
     .image-restaurant-menu {
         width: 100%;
         height: 230px;
         object-fit: cover;
     }

 }

 .section-presentation-du-menu {

     .header-pages-restaurants {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         padding-top: 25px;
         padding-right: 5px;
         margin: 0;

     }

 }

 .section-presentation-du-menu {
     border-radius: 25px 25px 0px 0px;
     background-color: #F6F6F6;
     display: flex;
     flex-direction: column;
     gap: 20px;
     top: -40px;
     position: relative;
     padding: 11px;


     .restaurant-titre-menu {
         margin: 0;
         font-family: Shrikhand, serif;
         font-weight: lighter;
         padding: 0px;
     }


     .menu {

         .titres-menu {
             font-family: Roboto, sans-serif;
             font-weight: lighter;
             padding: 10px 10px 10px 0px;
             margin: 0;
             font-size: 17px;
         }


         hr {
             width: 13%;
             margin: 0;
             background-color: #99E2D0;
             height: 2.5px;
             border: none;


         }

         .menu-listes {
             display: flex;
             flex-direction: column;

             .menu-cards {
                 display: flex;
                 flex-direction: row;
                 border-radius: 15px;
                 background-color: white;
                 box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
                 margin-bottom: 14px;
                 padding: 0px;
                 width: 100%;
                 gap: 0;



                 .cards-menu-content {
                     white-space: nowrap;
                     overflow: hidden;
                     padding: 12px;
                     width: 100%;
                     gap: 5px;
                     align-items: flex-end;

                     h3 {
                         margin: 0;
                         font-size: 15px;
                         padding-bottom: 3px;


                     }


                     .menu-accompagnement {
                         margin: 0;
                         font-size: 13px;


                     }

                     .menu-prix {
                         margin: 0;
                         font-weight: bold;
                         color: #353535;
                         font-size: 13px;
                         display: flex;
                         justify-content: center;


                     }
                 }

                 .button-check {
                     display: flex;
                     flex-direction: row;
                     width: 0;
                     overflow: hidden;
                     transition: width 3s;
                     background-color: #99E2D0;
                     color: white;
                     justify-content: center;
                     padding-top: 30px;
                     border-radius: 0px 15px 15px 0px;

                     .fa-circle-check {
                         border: none;
                         border-radius: 0px 15px 15px 0px;
                         display: flex;
                         flex-direction: row;
                         width: 15px;

                     }
                 }







             }


         }
     }

     .button-de-menu {
         background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
         box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
         -webkit-border-radius: 25;
         -moz-border-radius: 25;
         border-radius: 25px;
         color: #ffffff;
         font-size: 14px;
         padding: 13px 10px 13px 10px;
         text-decoration: none;
         border: solid 0px;
         margin: 15px 70px 30px 70px;
         box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);

         :hover {
             background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
         }


     }



 }