.header {
  display: flex;
  flex-direction: column;
}
.header .fa-arrow-left {
  position: absolute;
  padding-top: 25px;
  padding-left: 19px;
  color: #353535;
}
.header .header-logo {
  width: 170px;
  padding: 22px;
  padding: 19px 15px 15px 15px;
  align-self: center;
}
.header .header-recherche {
  background: var(--Grey-2, #EAEAEA);
  display: flex;
  justify-content: center;
}
.header .header-recherche .fa-location-dot {
  display: flex;
  align-items: center;
  color: #353535;
  justify-content: center;
  margin-right: -10px;
  padding: 10px;
}
.header .header-recherche input {
  display: flex;
  border: none;
  background: var(--Grey-2, #EAEAEA);
  font-size: 16px;
  padding: 12px 0px 12px 0px;
  text-align: center;
}

.hero {
  background: var(--Background, #F6F6F6);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}
.hero .titre-hero {
  margin: 0;
  font-size: 29px;
  padding-top: 25px;
  font-weight: bold;
  text-align: center;
  display: flex;
}
.hero .paragraphe-hero {
  font-size: 15px;
  color: var(--Grey, #373636);
  margin-bottom: 25px;
  display: flex;
  text-align: center;
}
.hero .button-hero {
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  color: #ffffff;
  font-size: 15px;
  padding: 13px 18px 13px 18px;
  text-decoration: none;
  border: solid 0px;
  margin-bottom: 30px;
}
.hero .button-hero:hover {
  background: #b272f2;
  background-image: linear-gradient(to bottom, #b272f2, #d184bc);
  text-decoration: none;
}

/* ecrire le mobile css ici */
/**********BODY*********/
body {
  margin: 0;
}

.main-container {
  margin: 0;
}

.fa-brands,
.fa-classic,
.fa-regular,
.fa-sharp,
.fa-solid,
.fab,
.far,
.fas {
  display: inline-flex;
}

* {
  font-family: Roboto, sans-serif;
}

/****** Media queries ***********/
/* Medium devices (tablets, more than 767.98px) */
/* larger devices (desktop, more than 1024px) */

.fonctionnement {
  padding: 35px 20px 35px;
}
.fonctionnement .fonctionnement-section-title {
  font-size: 22px;
  padding: 0px 15px 20px 0px;
  font-weight: bold;
  margin: 0;
}
.fonctionnement .fonctionnement-bouton {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fonctionnement .fonctionnement-bouton .button-de-fonctionnement {
  border-radius: 26px;
  box-shadow: 0px 10px 15px #ebebeb;
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 13px;
  font-weight: bold;
  padding: 23px;
  padding-left: 50px;
  text-align: start;
  border: 0px;
  background: #F6F6F6;
  text-decoration: none;
  position: relative;
}
.fonctionnement .fonctionnement-bouton .button-de-fonctionnement:hover .fa-solid {
  color: var(--Primary, #9356DC);
}
.fonctionnement .fonctionnement-bouton .button-de-fonctionnement .numero-fonctionnement {
  background: #9356DC;
  padding: 10px 13px;
  color: white;
  position: absolute;
  left: -10px;
  top: 15px;
  border-radius: 50px;
}
.fonctionnement .fonctionnement-bouton .button-de-fonctionnement .fa-mobile-screen-button,
.fonctionnement .fonctionnement-bouton .button-de-fonctionnement .fa-list-ul,
.fonctionnement .fonctionnement-bouton .button-de-fonctionnement .fa-store {
  display: inline-flex;
  color: var(--grey-tint-4, #7E7E7E);
  margin-left: 0;
  width: 35px;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 10px;
}
.restaurants .restaurant-section-title {
  padding: 35px 0px 15px 0px;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.restaurants .restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants .restaurants-cards .cards {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.restaurants .restaurants-cards .cards .image-restaurant {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurants .restaurants-cards .cards .button-nouveau {
  border: none;
  border-radius: 3px;
  color: #008766;
  font-size: 14px;
  background: #99E2D0;
  padding: 7px 10px 6px 10px;
  text-decoration: none;
  position: absolute;
  right: 20px;
  margin-top: 18px;
  font-weight: 600;
}
.restaurants .restaurants-cards .cards .button-nouveau :hover {
  text-decoration: none;
}
.restaurants .restaurants-cards .cards .cards-restaurant-content {
  padding: 6px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants .restaurants-cards .cards .cards-restaurant-content .card-restaurant-texte {
  padding: 10px 0px;
}
.restaurants .restaurants-cards .cards .cards-restaurant-content .card-restaurant-texte .restaurant-title {
  font-size: 17px;
  margin: 0;
  padding-bottom: 5px;
}
.restaurants .restaurants-cards .cards .cards-restaurant-content .card-restaurant-texte .restaurant-location {
  font-size: 14px;
  margin: 0;
}

.image-introduction-restaurant .image-restaurant-menu {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-presentation-du-menu {
  border-radius: 25px 25px 0px 0px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: -40px;
  position: relative;
  padding: 11px;
}
.section-presentation-du-menu .header-pages-restaurants {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 25px;
  padding-right: 5px;
  margin: 0;
}
.section-presentation-du-menu .restaurant-titre-menu {
  margin: 0;
  font-family: Shrikhand, serif;
  font-weight: lighter;
  padding: 0px;
}
.section-presentation-du-menu .menu .titres-menu {
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  padding: 10px 10px 10px 0px;
  margin: 0;
  font-size: 17px;
}
.section-presentation-du-menu .menu .titres-menu hr {
  width: 13%;
  margin: 0;
  background-color: #99E2D0;
  height: 2.5px;
  border: none;
}
.section-presentation-du-menu .menu .menu-listes {
  display: flex;
  flex-direction: column;
}
.section-presentation-du-menu .menu .menu-listes .menu-cards {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 14px;
  width: 100%;
  gap: 0;
}
.section-presentation-du-menu .menu .menu-listes .menu-cards .cards-menu-content {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  gap: 5px;
}
.section-presentation-du-menu .menu .menu-listes .menu-cards .cards-menu-content h3 {
  margin: 0;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section-presentation-du-menu .menu .menu-listes .menu-cards .cards-menu-content .menu-accompagnement {
  margin: 0;
  font-size: 12.4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section-presentation-du-menu .menu .menu-listes .menu-cards .menu-prix {
  margin-right: 10px;
  margin-bottom: 14px;
  font-weight: bold;
  color: #353535;
  font-size: 13px;
  display: flex;
  align-items: end;
}
.section-presentation-du-menu .menu .menu-listes .menu-cards .button-check {
  display: flex;
  flex-direction: row;
  width: 0%;
  transition: width 1s ease;
  background-color: #99E2D0;
  color: white;
  justify-content: center;
  padding-top: 25px;
  border-radius: 0px 15px 15px 0px;
}
.section-presentation-du-menu .menu .menu-listes .menu-cards .button-check .fa-circle-check {
  border: none;
  justify-content: center;
}
.section-presentation-du-menu .menu .menu-listes .menu-cards:hover .button-check {
  width: 60px;
}
.section-presentation-du-menu .button-de-menu {
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: #ffffff;
  font-size: 14px;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  border: solid 0px;
  margin: 15px 70px 30px 70px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.section-presentation-du-menu .button-de-menu:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
}

/**************animation coeur*************/
.animation-coeur {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 30px;
}
.animation-coeur .fa-regular {
  position: absolute;
  left: 16px;
  opacity: 1;
  transition: all 2s ease;
}
.animation-coeur:hover .fa-regular {
  opacity: 0;
}
.animation-coeur .fa {
  position: absolute;
  left: 16px;
  opacity: 0;
  transition: all 2s ease;
  background: -webkit-linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.animation-coeur:hover .fa {
  opacity: 1;
}

/*********ANIMATION CARDS MENUS**************/
.menu .delay1 {
  animation: left-to-right 3s ease-in-out alternate;
  animation-delay: 500ms;
}
.menu .delay2 {
  animation: left-to-right 3s ease-in-out alternate;
  animation-delay: 1s;
}
.menu .delay3 {
  animation: left-to-right 3s ease-in-out alternate;
  animation-delay: 2s;
}

@keyframes left-to-right {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
.footer {
  background: var(--Grey, #353535);
  padding: 22px 25px;
  display: flex;
}
.footer .footer-informations {
  align-items: flex-start;
}
.footer .footer-informations .footer-title {
  color: white;
  font-family: Shrikhand, serif;
  font-size: larger;
  margin: 0;
  font-weight: lighter;
}
.footer .footer-informations .footer-listes li {
  list-style-type: none;
  font-size: 13px;
}
.footer .footer-informations .footer-listes a {
  text-decoration: none;
  color: white;
}
.footer .footer-informations ul {
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer .footer-informations ul .fa-utensils {
  color: white;
  width: 0;
  padding-right: 25px;
}
.footer .footer-informations ul .fa-handshake-angle {
  color: white;
  width: 0;
  padding-right: 25px;
}

.loader {
  position: fixed;
  background: white;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation: fade 5s ease forwards 3s;
}
.loader .loader-accueil {
  background: linear-gradient(-45deg, #008766, #008766, #89C8FA, #89C8FA, orange, orange, #9356DC, #9356DC, #FF79DA, #FF79DA);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: animated_text 5s ease forwards;
  width: 100%;
  padding: 20px;
  margin-top: 240px;
  font-size: 50px;
  font-family: Shrikhand, sans-serif;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
/* ecrire le mobile css ici */
/****** Media queries ***********/
/* Medium devices (tablets, more than 767.98px) */
/* larger devices (desktop, more than 1024px) *//*# sourceMappingURL=style.css.map */