.fonctionnement {
  padding: 35px 20px 35px;

  .fonctionnement-section-title {
    font-size: 22px;
    padding: 0px 15px 20px 0px;
    font-weight: bold;
    margin: 0;

  }

  .fonctionnement-bouton {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .button-de-fonctionnement {
      -webkit-border-radius: 26;
      -moz-border-radius: 26;
      border-radius: 26px;
      -webkit-box-shadow: 0px 10px 15px #ebebeb;
      -moz-box-shadow: 0px 10px 15px #ebebeb;
      box-shadow: 0px 10px 15px #ebebeb;
      font-family: Roboto, sans-serif;
      color: black;
      font-size: 13px;
      font-weight: bold;
      padding: 23px;
      padding-left: 50px;
      text-align: start;
      border: 0px;
      background: #F6F6F6;
      text-decoration: none;
      position: relative;

      &:hover .fa-solid {
        color: var(--Primary, #9356DC);

      }

      .numero-fonctionnement {
        background: #9356DC;
        padding: 10px 13px;
        color: white;
        position: absolute;
        left: -10px;
        top: 15px;
        border-radius: 50px;

        
      }
        .fa-mobile-screen-button,
        .fa-list-ul,
        .fa-store {
          display: inline-flex;
          color: var(--grey-tint-4, #7E7E7E);
          margin-left: 0;
          width: 35px;




        }


    }

  }

}