.header {
  display: flex;
  flex-direction: column;


  .fa-arrow-left {
    position: absolute;
    padding-top: 25px;
    padding-left: 19px;
    color: #353535;


  }


  .header-logo {
    width: 170px;
    padding: 19px 15px 15px 15px;
    align-self: center;
  }

  .header-recherche {
    background: var(--Grey-2, #EAEAEA);
    display: flex;
    justify-content: center;

    .fa-location-dot {
      display: flex;
      align-items: center;
      color: #353535;
      justify-content: center;
      margin-right: -10px;
      padding: 10px;
    }

    input {
      display: flex;
      border: none;
      background: var(--Grey-2, #EAEAEA);
      font-size: 16px;
      padding: 12px 0px 12px 0px;
      text-align: center;

    }

  }

}


/****** Media queries ***********/
/* Medium devices (tablets, more than 767.98px) */
@media (min-width: 767.98px) {}


/* larger devices (desktop, more than 1024px) */
@media (min-width: 1024px) {
  .header {

    .header-logo {
      width: 250px;
      padding: 25px 15px 25px 15px;

    }

    .header-recherche {
      padding: 7px;


      .fa-location-dot {
        margin-right: -30px;
        z-index: 1;
      }


      input {

        color: #101010;
        font-size: 21px;
      }


    }




  }




}